<!DOCTYPE html>
<html>

<head>
    <title>Prescription Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <h1>Prescription Recommendation System</h1>
    <form action="/recommend" method="post">
        <label for="selected_medicine_name">Type your medicine name whose alternative is to be recommended:</label><br>
        <input type="text" id="selected_medicine_name" name="selected_medicine_name"><br>
        <input type="submit" value="Recommend Medicine">
    </form>
</body>

</html>